@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=HK+Grotesk&family=Poppins:wght@400;600&family=Source+Sans+Pro:wght@400;600&display=swap');

:root {
    --color-recuadros: #cdac79;
    --color-recuadro-contacto: #D5D7DE;
    --color-recuadro-nav: #fcf8f5;
    --font-title: 'PT Serif', serif;
    --font-subtitle: 'HK Grotesk', sans-serif;
    --font-text: 'Source Sans Pro', sans-serif;
    --font-nav: 'Poppins', sans-serif;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    
}


main {

    background: linear-gradient(to right, #D4D6DD, #b98a68);
    justify-content: center;
    display: flex;
    overflow: hidden;
}

/* Pantalla de carga  */
.section_loader {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    z-index: 9999;
    display: none;
    justify-content: center;
    align-items: center;
}

.loader {
    position: relative;
    width: 60px;
    height: 60px;
}

.loader .loader_1 {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 4px solid orange;
    border-left-color: transparent;
    border-bottom: none;
    border-radius: 50%;
    animation: loader-1 1s cubic-bezier(0.42, 0.61, 0.58, 0.41) infinite;
}

.loader .loader_2 {
    position: absolute;
    width: 40px;
    height: 40px;
    border: 4px solid green;
    border-top-color: transparent;
    border-right: none;
    border-radius: 50%;
    left: calc(50% - 20px);
    top: calc(50% - 20px);
    animation: loader-2 1s cubic-bezier(0.42, 0.61, 0.58, 0.41) infinite;
}

.show_loader {
    display: flex;
}

@keyframes loader-1 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes loader-2 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

/* Estilo del Header */
.header-container {
    position: relative;
    background: url('/asset/media/headerFondo.webp') center;
    background-size: cover;
    background-position: center;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.logo {
    position: absolute;
    top: 50px;
    left: 10px;
}

.logo img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.nav-menu {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: var(--color-recuadro-nav);
    padding: 10px 20px;
    border-radius: 0%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

.nav-menu .menu {
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
    padding: 0;
}

.nav-menu a {
    font-family: var(--font-nav);
    font-weight: bold;
    color: black;
    text-decoration: none;
    font-size: 1rem;
    margin: 0 10px;
}

.nav-menu a:hover {
    color: #27813a;
}

span {
    position: relative;
}

span::before,
span::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #000000;
    transform: scaleX(0);
    transition: transform 0.5s ease;
}

span::before {
    top: 0;
    transform-origin: center right;
}

span:hover::before {
    transform-origin: center left;
    transform: scaleX(1);
}

span::after {
    bottom: 0;
    transform-origin: center left;
}

span:hover::after {
    transform-origin: center right;
    transform: scaleX(1);
}


.info-header {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    z-index: 1;

}

.info-header h1 {
    font-family: var(--font-title);
    font-size: 3rem;
    padding: 10px 20px;
}

.info-header h2 {
    font-family: var(--font-subtitle);
    font-size: 2rem;
    padding: 10px 20px;
}

.info-header h3 {
    font-family: var(--font-subtitle);
    font-size: 1.5rem;
    padding: 10px 20px;

}

.info-header button {
    padding: 10px 20px;
    background: var(--color-recuadros);
    color: black;
    font-family: var(--font-nav);
    font-weight: bold;
    border-radius: 5px;
}

button {
    z-index: 1;
    position: relative;
    padding: 0.5em 1em;
    outline: none;
    overflow: hidden;
    transition: color 0.4s ease-in-out;
}

button::before {
    content: '';
    z-index: -1;
    position: absolute;
    bottom: 100%;
    right: 100%;
    width: 2em;
    height: 1em;
    border-radius: 50%;
    background-color: #27813a;
    transform-origin: center;
    transform: translate3d(50%, 50%, 0) scale3d(0, 0, 0);
    transition: transform 0.45s ease-in-out;
}

button:hover {
    cursor: pointer;
    color: #161616;
}

button:hover::before {
    transform: translate3d(50%, 50%, 0) scale3d(15, 15, 15);
}

@media (max-width: 768px) {
    .nav-menu {
        flex-wrap: wrap;
        justify-content: center;
        padding: 10px;
    }

    .nav-menu a {
        font-size: 0.9rem;
        margin: 5px;
    }

    .logo img {
        width: 70px;
        height: 70px;
    }
}


/* Estilos del main */
/* Contenedor de subproductos */
.sub-productos {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    margin: 0 auto;
    padding: 16px;
    box-sizing: border-box;
}

/* Cada tarjeta */
.card {
    width: 300px;
    height: 300px;
    position: relative;
    cursor: pointer;
}

/* Parte interna de la tarjeta */
.card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.8s;
}

/* Cara frontal y trasera */
.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.3);
}

.card-front {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-front img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.card-back {
    color: #000000;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.card-back img {
    width: 75%;
    height: 75%;
    object-fit: cover;
    border-radius: 8px;
}

.card-back h2 {
    margin-bottom: 10px;
}

/* Activar el giro al hacer hover */
.card:hover .card-inner {
    transform: rotateY(180deg);
}


/* Estilo filtros */
.filtros {
    justify-content: center;
    margin-bottom: 20px;
    display: flex;
    gap: 10px;
    padding: 10px 5px 10px 5px;
}

.filtro {
    padding: 10px 10px;
    background-color: var(--color-recuadros);
    color: rgb(0, 0, 0);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.filtros button {
    font-family: var(--font-nav);
    font-weight: bold;
    color: black;
}

.filtro:hover {
    color: rgb(255, 255, 255);
}

/* Estilo de la sección "nosotros" */
.sec-nosotros {
    padding: 50px 20px;
    text-align: center;
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}

.sec-nosotros h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #000000;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.301);
}

.sec-nosotros p {
    max-width: 800px;
    margin: 0 auto 40px auto;
    font-size: 1.1rem;
    color: #000000;
    font-family: var(--font-text);

}


/* Estilo del carrusel */
.container {
    display: grid;
    grid-gap: 10px;
    grid-template: 1fr / 5% 1fr 5%;
    grid-template-areas: "prev carousel next";
    justify-items: center;
    align-items: center;
    margin-top: 20vh;
    margin-bottom: 15vh;
}

.prev {
    grid-area: prev;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.prev::before {
    background-color: #f5d8b267;
}

.next {
    grid-area: next;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.next::before {
    background-color: #f5d8b267;
}

.carousel {
    grid-area: carousel;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% - 5px);
    height: auto;
    position: relative;

}


.tarjeta {
    width: 100px;
    height: 100px;
    position: absolute;
}

.tarjeta img {
    width: 100px;
    height: 100px;
}

.boton {
    position: relative;
    margin-top: 15%;
    text-align: center;
}

button:focus {
    outline: none;
}

.a {
    left: 0;
    z-index: 0;
}

.b {
    transform: scale(1.5, 1.5);
    left: calc(25% - 50px);
    z-index: 1;
}

.c {
    transform: scale(2, 2);
    left: calc(50% - 50px);
    z-index: 2;
}

.d {
    transform: scale(1.5, 1.5);
    right: calc(25% - 50px);
    z-index: 1;
}

.e {
    right: 0;
    z-index: 0;
}

@media screen and (max-width: 420px) {
    .container {
        grid-template: 1fr 1fr / 1fr 1fr;
        grid-template-areas: "carousel carousel"
            "prev next";
    }

    .next,
    .prev {
        margin-top: 70px;
    }
}

@keyframes BtoA {
    from {
        left: calc(25% - 50px);
        transform: scale(1.5, 1.5);
        z-index: 1;
    }

    to {
        left: 0;
        transform: scale(1, 1);
        z-index: 0;
    }
}

@keyframes AtoB {
    from {
        left: 0;
        transform: scale(1, 1);
        z-index: 0;
    }

    to {
        left: calc(25% - 50px);
        transform: scale(1.5, 1.5);
        z-index: 1;
    }
}

@keyframes CtoB {
    from {
        left: calc(50% - 50px);
        transform: scale(2, 2);
        z-index: 2;
    }

    to {
        left: calc(25% - 50px);
        transform: scale(1.5, 1.5);
        z-index: 1;
    }
}

@keyframes BtoC {
    from {
        left: calc(25% - 50px);
        transform: scale(1.5, 1.5);
        z-index: 1;
    }

    to {
        left: calc(50% - 50px);
        transform: scale(2, 2);
        z-index: 2;
    }
}

@keyframes DtoC {
    from {
        left: calc(75% - 50px);
        transform: scale(1.5, 1.5);
        z-index: 1;

    }

    to {
        left: calc(50% - 50px);
        transform: scale(2, 2);
        z-index: 2;
    }
}

@keyframes CtoD {
    from {
        left: calc(50% - 50px);
        transform: scale(2, 2);
        z-index: 2;
    }

    to {
        left: calc(75% - 50px);
        transform: scale(1.5, 1.5);
        z-index: 1;
    }
}

@keyframes EtoD {
    from {
        right: 0;
        transform: scale(1, 1);
        z-index: 0;
    }

    to {
        right: calc(25% - 50px);
        transform: scale(1.5, 1.5);
        z-index: 1;
    }
}

@keyframes DtoE {
    from {
        right: calc(25% - 50px);
        transform: scale(1.5, 1.5);
        z-index: 1;
    }

    to {
        right: 0;
        transform: scale(1, 1);
        z-index: 0;
    }
}

@keyframes AtoE {
    from {
        left: 0;
        z-index: 0;
    }

    to {
        left: calc(100% - 110px);
        z-index: 0;
    }
}

@keyframes EtoA {
    from {
        left: calc(100% - 100px);
        z-index: 0;
    }

    to {
        left: 0;
        z-index: 0;
    }
}

/* Estilo del Footer */
footer {
    background: url('/asset/media/fondoFooter.webp') no-repeat center center;
    background-size: cover;
    color: #000000;
    font-family: 'Arial', sans-serif;
    padding: 40px 20px;
}

.contenedor-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
}

/* Título Principal */
.contenedor-footer h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

/* Sección de Contacto */
.contacto {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 8px;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.contacto h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.contacto p {
    font-size: 1rem;
    margin: 5px 0;
    line-height: 1.5;
}

/* Redes Sociales */
.redes-sociales {
    margin-top: 20px;
}

.redes-sociales h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.redes-sociales a {
    display: inline-block;
    margin: 0 10px;
    transition: transform 0.3s ease;
}

.redes-sociales img {
    width: 50px;
    height: 50px;
    border-radius: 30%;

    transition: transform 0.3s ease, border-color 0.3s ease;
}

.redes-sociales a:hover img {
    transform: scale(1.1);
}

/* Responsivo */
@media (max-width: 768px) {
    .contenedor-footer {
        gap: 15px;
    }

    .contacto h2,
    .redes-sociales h2 {
        font-size: 1.5rem;
    }

    .contacto p {
        font-size: 0.9rem;
    }

    .redes-sociales img {
        width: 40px;
        height: 40px;
    }
}
